<footer>
  <section class="uk-section uk-section-secondary uk-section-small uk-light">
    <div class="uk-container">
      <div
        class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m"
        uk-grid
      >
        <div>
          <a class="uk-logo" href="index.html"
            ><img
              src="/images/logo-inverse.svg"
              width="90"
              height="32"
              alt="Logo"
          /></a>
          <p class="uk-text-small">
            Chúng tôi luôn mang đến những sản phẩm cao cấp chính hãng đến tay khách hàng.
          </p>
          <ul class="uk-iconnav">
            <li><a href="" title="Facebook" uk-icon="facebook"></a></li>
            <li><a href="" title="Twitter" uk-icon="twitter"></a></li>
            <li><a href="" title="YouTube" uk-icon="youtube"></a></li>
            <li>
              <a href="" title="Instagram" uk-icon="instagram"></a>
            </li>
          </ul>
        </div>
        <div>
          <nav class="uk-grid-small uk-child-width-1-2" uk-grid>
            <div>
              <ul class="uk-nav uk-nav-default">
                <li><a href="catalog.html">Mục lục</a></li>
                <li><a href="brands.html">Thương hiệu</a></li>
                <li><a href="faq.html">Câu hỏi thường gặp</a></li>
                <li><a href="">Thanh toán</a></li>
              </ul>
            </div>
            <div>
              <ul class="uk-nav uk-nav-default">
                <li><a href="about">Thông tin</a></li>
                <li><a href="contact">Liên hệ</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="news.html">Tin tức</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div>
          <ul class="uk-list uk-text-small">
            <li>
              <a class="uk-link-muted" href=""
                ><span class="uk-margin-small-right" uk-icon="receiver"></span
                ><span class="tm-pseudo">+84979420120</span></a
              >
            </li>
            <li>
              <a class="uk-link-muted" href=""
                ><span class="uk-margin-small-right" uk-icon="mail"></span
                ><span class="tm-pseudo">nguyenduyduong070699@gmail.com</span></a
              >
            </li>
            <li>
              <div class="uk-text-muted">
                <span class="uk-margin-small-right" uk-icon="location"></span
                >St.&nbsp;Nguyễn Văn Linh, Quận Thanh Khê&nbsp;Đà Nẵng&nbsp;</span>
              </div>
            </li>
            <li>
              <div class="uk-text-muted">
                <span class="uk-margin-small-right" uk-icon="clock"></span
                ><span>Giờ mở cửa 10:00–22:00</span>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <form class="uk-form-stacked">
            <label
              ><div class="uk-form-label uk-text-muted">
                Đăng ký
              </div>
              <div class="uk-inline uk-width-1-1">
                <a
                  class="uk-form-icon uk-form-icon-flip"
                  href=""
                  uk-icon="mail"
                ></a
                ><input
                  class="uk-input"
                  type="email"
                  placeholder="Email"
                  required
                /></div
            ></label>
          </form>
        </div>
      </div>
    </div>
  </section>
</footer>
