body{
	width: 100%;
	background-image: url(../images/img.jpg);
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.dangky{
	display: flex;
	margin-top: 20px;
	margin-left: 10px;
}
.dangky a{
	color: #fff;
	background: #ea2858;
	padding: 0.7rem;
	width: 10%;
	border: none;
	text-decoration: none;
	border-radius: 30px;
	outline: none;
	font-size: 1em;
	cursor: pointer;
 	letter-spacing: 1px;
 	font-weight: 400;
  	font-family:Georgia, 'Times New Roman', Times, serif;
  	transition: 0.5s all;
}
.dangky a:hover{
  background: #fff;
  color: #000;
  transition: 0.5s all;
}
.main h2{
  color: #fff;
  padding-bottom: 20px;
  font-family: inherit;
  text-align: center;
}
.sub-main input[type="text"], .sub-main input[type="password"]{
  outline: none;
  font-size: 0.9em;
  padding: 1em 3em 1em 1em;
  border: none;
  margin-bottom: 0.3em;
  background:rgba(255,255 ,255, 0.85);
  width:60%;
  color: #000;
  border-radius: 30px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}
.sub-main{
  width: 50%;
  margin: 10em auto 12em;
}
.sub{
  margin-top: 1em;
}
.right{
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
.pom-agile{
  position: relative;
}
input.pass{
  margin-top: 0.8rem;
}
span.icon1, span.icon2{
  color: #ea2858;
  font-size: 1.1em;
  position:absolute;
  right: 23%;
}
span.icon1 {
  top: 23%;
}
span.icon2 {
  top: 40%;
}
.sub-main input[type="submit"]{
  color:white;
  background: #ea2858;
  border: none;
  padding: 0.7rem;
  outline: none;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: 0.5s all;
  border-radius: 30px;
}
.sub-main input[type="submit"]:hover{
  background: #fff;
  color: #000;
  transition: 0.5s all;
}


.sub-main input[type="button"]{
	color:white;
	background: #ea2858;
	border: none;
	padding: 0.7rem;
	outline: none;
	width: 30%;
	font-size: 1em;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: Georgia, 'Times New Roman', Times, serif;
	transition: 0.5s all;
	border-radius: 30px;
  }
  .sub-main input[type="button"]:hover{
	background: #fff;
	color: #000;
	transition: 0.5s all;
  }
/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
	.sub-main {
		width: 29%;
		margin: 7em auto 9em;
	}
}
@media(max-width: 1366px){

}
@media(max-width: 1280px){

}
@media(max-width: 1080px){
	.sub-main {
		width: 35%;
	}
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
	.sub-main {
		width: 38%;
	}
}
@media(max-width: 991px){

}
@media(max-width: 900px){

	.sub-main {
		width: 42%;
		margin: 6em auto 8em;
	}
	
}
@media(max-width: 800px){
	.header-w3l h1 {
		font-size: 2.7em;
		letter-spacing: 7px;
	}
}
@media(max-width: 768px){
	.header-w3l {
		padding-top: 4.5em;
	}
	.sub-main {
		width: 50%;
		margin: 10em auto 16em;
	}
}
@media(max-width: 736px){
	.header-w3l {
		padding-top: 1.5em;
	}
	.sub-main {
		margin: 5em auto 6.5em;
	}
}
@media(max-width: 667px){
	.footer {
		padding-bottom: 2em;
	}
}
@media(max-width: 640px){

}
@media(max-width: 600px){
	.sub-main input[type="email"], .sub-main input[type="password"] {
		padding: .9em 3em .9em 1em;
	}
	.sub-main input[type="submit"] {
		font-size: .95em;
	}
	.footer p {
		letter-spacing: 1px;
	}
	.right {
		margin-top: 1em;
	}
	.header-w3l h1 {
		font-size: 2.5em;
		letter-spacing: 5px;
	}
	.main h1 {
		font-size: 1em;
	}
	.sub-main {
		margin: 6em auto 8em;
		width: 54%;
	}
}
@media(max-width: 568px){
	.sub-main {
		width: 56%;
	}
}
@media(max-width: 480px){
	.header-w3l h1 {
		font-size: 2.3em;
		letter-spacing: 4px;
	}
	.sub-main {
		width: 69%;
		margin: 6em auto 6.3em;
	}
	.footer p {
		line-height: 1.9;
	}
}
@media(max-width: 440px){
	.sub-main {
		width: 72%;
	}
}
@media(max-width: 414px){
	.sub-main input[type="email"], .sub-main input[type="password"] {
		font-size: .85em;
	}
	.sub h6 a {
		font-size: .8em;
	}
	.header-w3l h1 {
		font-size: 2.1em;
	}
	.sub-main {
		margin: 7em auto 9.3em;
	}
}
@media(max-width: 384px){
	.sub-main input[type="email"], .sub-main input[type="password"] {
		font-size: .8em;
	}
	.header-w3l h1 {
		font-size: 2em;
	}
	.sub-main input[type="submit"] {
		font-size: .9em;
	}
	.main h2 {
		margin-bottom: 1.2em;
	}
	.sub-main {
		margin: 6em auto 7.5em;
		width: 74%;
	}
	span.icon1 {
		top: 18%;
	}
	span.icon2 {
		top: 32%;
	}
}
@media(max-width: 375px){

}
@media(max-width: 320px){
	.header-w3l h1 {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.main h2 {
		font-size: .9em;
		letter-spacing: 2px;
	}
	.sub-main input[type="submit"] {
		font-size: .8em;
	}
	.footer p {
		font-size: .8em;
	}
	.sub-main {
		margin: 4.2em auto 4.5em;
		width: 81%;
	}
	.sub-main input[type="email"], .sub-main input[type="password"] {
		width: 80%;
	}
}
/*--//responsive--*/



